.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
.custom-table th {
    text-align: left;
    background-color: #f4f4f4;
    padding: 10px;
}
  
.custom-table td {
    padding: 15px;
    vertical-align: top;
}