<div class="p-2">
    @if (usuarios()) {
        <p-table [value]="usuarios()!" class="w-full custom-table">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-left p-2">Nome</th>
                    <th class="text-left p-2">Cadastro</th>
                    <th class="text-left p-2">Cargo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td class="p-2">{{ user.nomeDoUsuario }}</td>
                    <td class="p-2">{{ user.cadastro }}</td>
                    <td class="p-2">{{ user.role }}</td>
                </tr>
            </ng-template>
        </p-table>
    }
</div>