<div class="w-full p-2 h-full overflow-auto">
    <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>
                <div class="flex flex-row items-center">
                    <p>Reator Nuclear</p>
                    <p-divider layout="vertical" />
                    <i class="pi pi-user "></i> &nbsp;
                    12/20
                    <p-divider layout="vertical" />
                    <p>[DEMANDA]</p>
                </div>
            </p-accordion-header>
            <p-accordion-content>
                <div class="flex flex-row">
                    <div class="w-1/3">
                        <h4><strong>Produção:</strong></h4>
                        <p>
                            MAX: 560 TON
                            <i class="pi pi-arrow-right"></i>
                            ATU: 350 TON
                        </p>
                        <h4><strong>Material:</strong></h4>
                        <p>Urânio</p>
                    </div>
                    <div class="w-1/3 flex flex-col">
                        <h4><strong>Dependências:</strong></h4>
                        <div class="w-full flex flex-row items-center">
                            Urânio 235
                            <p-divider layout="vertical" />
                            <div class="flex w-full flex-row items-center gap-2">
                                200TON <i class="pi pi-arrow-right"></i> 86TON
                            </div>
                        </div>
                        <div class="w-full flex flex-row items-center">
                            Plutônio 235
                            <p-divider layout="vertical" />
                            <div class="flex  w-full flex-row items-center gap-2">
                                200TON <i class="pi pi-arrow-right"></i> 86TON
                            </div>
                        </div>
                        <div class="w-full flex flex-row items-center">
                            Xenônio 235
                            <p-divider layout="vertical" />
                            <div class="flex w-full flex-row items-center gap-2">
                                200TON <i class="pi pi-arrow-right"></i> 86TON
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col w-1/3">

                    </div>
                </div>

            </p-accordion-content>
        </p-accordion-panel>
    
    </p-accordion>
</div>