<div class="w-full h-full flex flex-col items-center gap-2">
    
    <p>Coloque o código de registro do Usuário</p>
    <input type="text" [(ngModel)]="codigoDoUsuarioSelecionado" pInputText placeholder="Digite aqui o código">
    <button pButton 
        (click)="buscarUmUsuario()"
        severity="primary" 
        [text]="true"> Buscar </button>

    @if (usuarioSelecionado) {
        <div class="p-2 gap-2 flex flex-col">
            <p>
                Você tem certeza que você quer excluir o usuário
                <strong>{{ usuarioSelecionado.cadastro }}?</strong>
            </p>
            <p>AVISO! Essa ação é irreversível!</p>
            <button (click)="deletarUmUsuario()" pButton severity="danger"> Excluir </button>
        </div>
    }

</div>