<button pRipple pButton severity="secondary"
  [text]="true"
  (click)="abrirDialog()">
  <i class="pi pi-plus"></i>
  Editar
</button>


<p-dialog title="Adicionar um novo Funcionário" 
  [modal]="true" 
  [style]="{width: '50vw'}"
  [draggable]="false"
  [(visible)]="visible">
    <div class="p-2 ">
        <h2 class="text-xl font-bold mb-4">Atualizar Funcionário</h2>
        <form class="space-y-4" [formGroup]="formulario">
          <!-- Nome -->
          <div>
            <label for="nome" class="block text-sm font-medium mb-1">Nome</label>
            <input
              id="nome"
              formControlName="nome"
              name="nome"
              type="text"
              pInputText
              class="w-full"
              placeholder="Digite o nome do funcionário"
            />
          </div>
      
          <!-- Salário -->
          <div>
            <label for="salario" class="block text-sm font-medium mb-1">Salário</label>
            <input
              id="salario"
              formControlName="salario"
              name="salario"
              type="number"
              pInputText
              class="w-full"
              placeholder="Digite o salário"
            />
          </div>
      
          <!-- Cargo -->
          <div>
            <label for="cargo" class="block text-sm font-medium mb-1">Cargo</label>
            <input
              id="cargo"
              name="cargo"
              formControlName="cargo"
              type="text"
              pInputText
              class="w-full"
              placeholder="Digite o cargo"
            />
          </div>
      
          <!-- Período -->
          <div>
            <label for="periodo" class="block text-sm font-medium mb-1">Período</label>
            <div class="flex flex-row items-center gap-2">
              <input
                id="periodo-inicio"
                name="periodo-inicio"
                pInputText
                formControlName="periodoInicial"
                class="w-full"
                placeholder="Horário Inicial"
              />
              <i class="pi pi-arrow-right"></i>
              <input
                id="periodo-final"
                name="periodo-final"
                pInputText
                formControlName="periodoFinal"
                class="w-full"
                placeholder="Horário Final"
              />
            </div>
          </div>
      
          <!-- Botões -->
          <div class="flex justify-between">
            <button
                pButton
                severity="success"
                (click)="salvar()"
            >
              Alterar
            </button>
          </div>
        </form>
    </div>
</p-dialog>